In [1]:
import pandas as pd

In [2]:
dataframe=pd.read_csv('D:/MLproject/loanprediction/LoandatasePt.csv')

In [3]:
dataframe

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
#check top 5 rows
dataframe.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
#check last 5 rows
dataframe.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
dataframe.shape

(614, 13)

In [7]:
print("NUmber of rows",dataframe.shape[0])
print("NUmber of columns",dataframe.shape[1])

NUmber of rows 614
NUmber of columns 13

In [8]:
#get info abount our data set
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [9]:
dataframe.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
dataframe.isnull().sum()*100/len(dataframe)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [11]:
#handaliing missing values
dataframe=dataframe.drop('Loan_ID',axis=1)

In [12]:
dataframe.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y

In [13]:
#columns=['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [14]:
#dataframe=dataframe.dropna(subset=columns)

In [15]:
dataframe=dataframe.dropna()

In [16]:
dataframe.isnull().sum()*100/len(dataframe)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [17]:
dataframe['Self_Employed'].mode()

0    No
Name: Self_Employed, dtype: object

In [18]:
dataframe['Self_Employed']=dataframe['Self_Employed'].fillna(dataframe['Self_Employed'].mode()[0])

In [19]:
dataframe.isnull().sum()*100/len(dataframe)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [20]:
dataframe['Credit_History'].unique()

dataframe['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [21]:
dataframe['Credit_History']=dataframe['Credit_History'].fillna(dataframe['Credit_History'].mode()[0])

In [22]:
dataframe.isnull().sum()*100/len(dataframe)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [23]:
dataframe.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
488,Male,Yes,2,Graduate,Yes,4583,2083.0,160.0,360.0,1.0,Semiurban,Y
531,Male,Yes,3+,Graduate,No,4281,0.0,100.0,360.0,1.0,Urban,Y
352,Male,Yes,3+,Graduate,No,2666,2083.0,95.0,360.0,1.0,Rural,Y
199,Male,No,0,Graduate,Yes,11000,0.0,83.0,360.0,1.0,Urban,N
547,Male,No,0,Graduate,No,2526,1783.0,145.0,360.0,1.0,Rural,Y

In [24]:
dataframe['Dependents']=dataframe['Dependents'].replace(to_replace="3+",value=4)

In [25]:
dataframe['Dependents'].unique()

array(['1', '0', '2', 4], dtype=object)

In [26]:
dataframe['Loan_Status'].unique()

array(['N', 'Y'], dtype=object)

In [27]:
dataframe['Gender']=dataframe['Gender'].map({'Male':1,'Female':0}).astype('int')
dataframe['Married']=dataframe['Married'].map({'Yes':1,'No':0}).astype('int')
dataframe['Education']=dataframe['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
dataframe['Self_Employed']=dataframe['Self_Employed'].map({'Yes':1,'No':0}).astype('int')
dataframe['Property_Area']=dataframe['Property_Area'].map({'Rural':0,'Urban':1,'Semiurban':2}).astype('int')
dataframe['Loan_Status']=dataframe['Loan_Status'].map({'N':0,'Y':1}).astype('int')

In [28]:
dataframe.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

In [29]:
dataframe

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,2900,0.0,71.0,360.0,1.0,0,1
610,1,1,4,1,0,4106,0.0,40.0,180.0,1.0,0,1
611,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,1,1
612,1,1,2,1,0,7583,0.0,187.0,360.0,1.0,1,1
613,0,0,0,1,1,4583,0.0,133.0,360.0,0.0,2,0

In [30]:
#store feature matrix in x (indepandent var)and resp(target) in vector y
X=dataframe.drop('Loan_Status',axis=1)

In [31]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,2900,0.0,71.0,360.0,1.0,0
610,1,1,4,1,0,4106,0.0,40.0,180.0,1.0,0
611,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,1
612,1,1,2,1,0,7583,0.0,187.0,360.0,1.0,1
613,0,0,0,1,1,4583,0.0,133.0,360.0,0.0,2

In [32]:
y=dataframe['Loan_Status']

In [33]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int32

In [34]:
dataframe.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

In [35]:
#feature scaling all values are not close amount are
#big for that we have to scaling that use for higher 
#value range calculate dist bet data
cols=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']

In [36]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
X[cols]=st.fit_transform(X[cols])

In [37]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.137970,-0.027952,-0.208089,0.275542,1.0,0
2,1,1,0,1,1,-0.417536,-0.604633,-0.979001,0.275542,1.0,1
3,1,1,0,0,0,-0.491180,0.297100,-0.307562,0.275542,1.0,1
4,1,0,0,1,0,0.112280,-0.604633,-0.046446,0.275542,1.0,1
5,1,1,2,1,1,0.009319,0.999978,1.520245,0.275542,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,-0.435196,-0.604633,-0.916831,0.275542,1.0,0
610,1,1,4,1,0,-0.222210,-0.604633,-1.302286,-2.487549,1.0,0
611,1,1,1,1,0,0.478206,-0.512854,1.346168,0.275542,1.0,1
612,1,1,2,1,0,0.391846,-0.604633,0.525520,0.275542,1.0,1
613,0,0,0,1,1,-0.137970,-0.604633,-0.145919,0.275542,0.0,2

In [38]:
#splitting dataset 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

In [39]:
model_df={}
def model_val(model,X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.5,random_state=42)
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print(f"{model}accuracy is {accuracy_score(y_test,y_pred)}")
    
    score=cross_val_score(model,X,y,cv=5)
    print(f"{model} Avg cross val score is {np.mean(score)}")
    model_df[model]=round(np.mean(score)*100,2)

In [40]:

dataframe.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,1

In [41]:
#logistic regression
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model_val(model,X,y)

LogisticRegression()accuracy is 0.8041666666666667
LogisticRegression() Avg cross val score is 0.8020833333333334

In [42]:
model_df

{LogisticRegression(): 80.21}

In [43]:
#svc support vector classifier
from sklearn import svm
model=svm.SVC()
model_val(model,X,y)

SVC()accuracy is 0.7833333333333333
SVC() Avg cross val score is 0.7979166666666667

In [44]:
model_df

{LogisticRegression(): 80.21, SVC(): 79.79}

In [45]:
#Decision tree classifier
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model_val(model,X,y)

DecisionTreeClassifier()accuracy is 0.7375
DecisionTreeClassifier() Avg cross val score is 0.7125

In [46]:
model_df

{LogisticRegression(): 80.21, SVC(): 79.79, DecisionTreeClassifier(): 71.25}

In [47]:
#Random forest classifier
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model_val(model,X,y)

RandomForestClassifier()accuracy is 0.7958333333333333
RandomForestClassifier() Avg cross val score is 0.7979166666666666

In [48]:
#Gradient Boosting classifier
from sklearn.ensemble import GradientBoostingClassifier
model=GradientBoostingClassifier()
model_val(model,X,y)

GradientBoostingClassifier()accuracy is 0.7625
GradientBoostingClassifier() Avg cross val score is 0.78125

In [49]:
model_df

{LogisticRegression(): 80.21,
 SVC(): 79.79,
 DecisionTreeClassifier(): 71.25,
 RandomForestClassifier(): 79.79,
 GradientBoostingClassifier(): 78.12}

In [50]:
#Hyperparameter tuning
from sklearn.model_selection import RandomizedSearchCV

In [51]:
#logistic regression
log_reg_grid={"C":np.logspace(-4,4,20),"solver":['liblinear']}

In [52]:
rs_log_reg=RandomizedSearchCV(LogisticRegression(),param_distributions=log_reg_grid,n_iter=20,cv=5,verbose=True)

In [53]:
rs_log_reg.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [54]:
rs_log_reg.best_score_

0.8020833333333334

In [55]:
rs_log_reg.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

In [56]:
#hyper for svc
svc_grid={'C':[0.25,0.50,.75,1],"kernel":["linear"]}
rs_svc=RandomizedSearchCV(svm.SVC(),param_distributions=svc_grid,n_iter=20,cv=5,verbose=True)

In [57]:
rs_svc.fit(X,y)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

C:\Users\Legion\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_search.py:307: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=20,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [58]:
rs_svc.best_score_

0.8083333333333333

In [59]:
rs_svc.best_params_

{'kernel': 'linear', 'C': 0.25}

In [60]:
#Random forest classifier
RandomForestClassifier()

RandomForestClassifier()

In [61]:
rf_grid={'n_estimators':np.arange(10,1000,10),
        'max_features':['auto','sqrt'],
        'max_depth':[None,3,5,10,20,30],
         'min_samples_split':[2,5,20,50,100],
        'min_samples_leaf':[1,2,5,10]
        }

In [62]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),param_distributions=rf_grid,n_iter=20,cv=5,verbose=True)

In [63]:
rs_rf.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

C:\Users\Legion\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
45 fits failed out of a total of 100.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
45 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Legion\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Legion\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\Legion\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Legion\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Legion\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan 0.80833333 0.80833333        nan        nan 0.80625
        nan        nan 0.80625    0.80833333 0.80208333 0.80833333
 0.80833333        nan 0.80833333        nan        nan 0.81458333
        nan 0.80833333]
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [64]:
rs_rf.best_score_

0.8145833333333332

In [65]:
rs_rf.best_params_

{'n_estimators': 950,
 'min_samples_split': 20,
 'min_samples_leaf': 1,
 'max_features': 'sqrt',
 'max_depth': None}

In [66]:
'''LogisticRegression score before hyperparameter Tuning:80.48
LogisticRegression score after hyperparameter Tuning:80.48
    
SVC score before hyperparameter Tuning:79.38
SVC score after hyperparameter Tuning:80.66    
    
RandomForestClassifier score before hyperparameter Tuning:78.48
RandomForestClassifier score after hyperparameter Tuning:80.66 '''

'LogisticRegression score before hyperparameter Tuning:80.48\nLogisticRegression score after hyperparameter Tuning:80.48\n    \nSVC score before hyperparameter Tuning:79.38\nSVC score after hyperparameter Tuning:80.66    \n    \nRandomForestClassifier score before hyperparameter Tuning:78.48\nRandomForestClassifier score after hyperparameter Tuning:80.66 '